.container {
    font-family : "Poppins";
    padding: 1.2rem;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 2rem;
    gap: 4rem;
    height: 80vh;
}


.mainContainer_left {
    flex: 0.5;
}

.mainContainer_right {
    flex: 0.5;
}

.mainContainer_left > p:nth-child(1) {
    font-size: 2.8rem;
    font-weight: 600;

    background: linear-gradient(
        90deg,
        #000000 0%,
        #9d9d9d 40%,
        #656060 50%,
        #9d9d9d 60%,
        #000000 100%
    );

    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shimmerText 5s linear infinite;
}

@keyframes shimmerText {
    0% {
        background-position: -200% center;
    }
    100% {
        background-position: 200% center;
    }
}

.mainContainer_left > p:nth-child(2) {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #4D4D4D;
}


.mainContainer_left > div.buttonJoin {
    width : fit-content;
    margin-top: 1.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    background-color: #0073b1;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;

}   