.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background : snow;
}

.cardContainer{
    height: 80vh;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    box-shadow: 10px 10px 15px rgba(173,173,173, 0.1);
    /* flex-direction: row; */
    background-color: white;
    /* align-items: center;
    gap: 20px; */
    margin-top: 20px;
}

.cardContainer_left{
    flex: 0.6;
    padding : 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* gap: 20px; */
}

.cardLeft_heading{
    font-size: 1.5rem;
    font-weight: bold;
    color: #924141;
    margin-bottom: 1rem;
}


.cardContainer_right{
    flex: 0.4;
    justify-content: center;
    display: flex;
    /* align-items: center; */
    background-color: #924141d8;
    background-image: url("/loginImage.jpg");
    background-size: cover;
    background-position: center;    
}


.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    padding: 0.5rem;
}


.inputRow{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.inputField{
    width: 100%;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    margin: 0.8rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.buttonWithOutline{
    padding: 0.8rem 1.5rem;
    background-color: rgb(234, 234, 234);
    border: 2px solid transparent;
    color: rgb(35, 31, 31);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
