.container{
    font-family : "Poppins";
    padding: 1.2rem;
}


.navbar{
    display : flex;
    justify-content : space-between;
    align-items : center;
    position: relative;
    z-index: 1000;
}

.navbar h2{
    cursor: pointer;
}

.navbarOptionsContainer{
    display : flex;
    gap : 1rem;
}

.buttonJoin{
    background-color : #CD8987;
    color : white;
    padding : 0.5rem 1rem;
    border-radius : 2rem;
    cursor : pointer;
    font-size : 0.9rem;
    font-weight : bold;
}